
body {
  background-color: rgba(0, 70, 100, .3);
  -webkit-transform: translate3D(0,0,0);
  font-family:Helvetica;
  font-size:16px;
  font-weight:bold;
  margin: 0;
  color:#555555;
}
.head img{
  width:20rem;
  height:20rem;
  border-radius: 100%;
  margin-bottom: 1%;
  border:10px dotted #75b79e;

}
.head-hr{
  width:30%;
  height: 0;
  align-self: center;
  border:10px   dotted #75b79e;
  border-top: none;
}
#left-head{
  position: relative;
  left:3%;
  margin-right: none;
}
#right-head{
  position: relative;
  right:3%;
  margin-left: none;
}
header{
  color:#d45d79;
  font-size: 6rem;
  margin:2% auto;
  font-family: 'Montserrat', sans-serif;
}
#photo{
  display: flex;
}
input{
  width:80%;
  font-size: 0.75rem;
  height:1.5rem;
  padding-left: 5%;
}
input::placeholder{
  font-size: .75rem;#fffcca
}
textarea{
  font-size: 2px;
  resize: none;
  padding:1%
  border:none;
  margin:none;
  width:100%;
  height:10rem;
  padding-left: 5%;
  padding-top: 2%;
}
textarea::placeholder{
  font-size: .75rem;
}

.button-to-submit {

  width:50%;
  height: 1.5rem;
  padding:1%;
  margin-top: 20%;
  border:.01px solid;
  text-align: center;
  font-size: 0.75rem;
}

#note-flexbox-col2{
  width:50%;
  height: 80%;
}
.note-flexbox-row{
  display: flex;

}
#note-flexbox-col1{
  display: flex;
  flex-direction: column;
  width:40%;
  height: 80%;
  color: #fffcca;
  justify-content:flex-start;

}
.heading{
  text-align: center;

}
.about{
  position: relative;
  font-size: 3.5rem;
  text-align: center;
  z-index: 1;
  color: #6e5773;
  font-family: 'Roboto Slab', serif;

}
.head{

  text-align: center;
  margin-bottom: 7%;
  background-color: #fffcca;
  margin:0;

  padding:0.5% 2% 4%;
}
#contact3{
  padding-bottom: 2%;
}

#left{
  float: left;
  margin-right:3%;
}
#right{
  float:right;
  margin-left:3%;
}

.total-line{
  margin-top: 5%;
  text-align: center;
  display:flex;
  background-color:#55e9bc;
  padding:2%;
  margin:0;
  position: relative;

}
.line-for-about{

  border: 0.5rem dotted #fffcca;
  border-top: none;

  margin-top:auto;
  margin-bottom: auto;
  width:10%;
}

.text-head{
  height: 100%;
  font-family: 'Sacramento', cursive;
  display: inline-block;
  font-size:5rem;
  text-align: center;
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
  margin:0;
  padding:2%;
  justify-content: space-around;
  align-content: center;
  background-color: #537780;
}
.flex-container2{

  display:flex;
  flex-wrap: wrap;
  margin:0;
  padding:2%;
  justify-content: space-around;
  align-content: center;
z-index: 1000;
padding-top:10vh;
  position: relative;
  background-color: #537780;



}
.flex-container2 .contact{
  height:15rem;
  width:300px;
  margin:1%;
  padding: 2%;
  border:2px solid #fffcca;
  border-radius: 5%;
  background-color: #11d3bc;
  align-self: center;
}



.about-head{
  text-align: center;
  margin-bottom: 4%;
  font-size: 3.5rem;
  font-family: 'Nunito', sans-serif;
}
.contact-head{
  font-family: 'Nunito', sans-serif;
  text-align:center;
  font-size: 1.5rem;
  margin-bottom: 4%;

}

.about-hr{
  border:.5vh solid #fffcca;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 5%;
  width:10%;
}
.about-hr2{
  border:.5vh solid #fffcca;
  border-top: none;
  border-left: none;
  border-right: none;

  width:10%;
}
.about-text{
  text-align: justify;
  font-size:1.5rem;
  font-family: 'Gelasio', serif;
}
.contact-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin:0;
  padding: 0;
  font-family: 'Gelasio', serif;
  font-size:1rem;

}

.info{
  width:400px;
  height: 400px;
  margin:1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-self: center;
  padding: 2%;
  border:2px solid #fffcca;
  border-radius: 5%;
  background-color: #11d3bc;
}
ul.about-list{
  margin-left:25px;
}
.about-text ul{
  padding:1%;
}


div[class*=box] {
  height: 25%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766;
  width:100%;
  height: 25%;
  align-self: center;
}
.btn {
  line-height:3rem;
  height: 3rem;
  text-align: center;
  width: 21rem;
  cursor: pointer;
}

/*
========================
BUTTON ONE
========================
*/
.contact-text a{
  width:100%;
}
.btn-one {
  width: 100%;
  height: 100%;
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 0rem;
  border-bottom-width: .3rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
@keyframes slideshow {
  10% {left: 0;}
  20% {left: 0;}
  30% {left: -100vw;}
  40% {left: -100vw;}
  50% {left: -201vw;}
  60% {left: -201vw;}
  70% {left: -302vw;}
  80% {left: -302vw;}
  90% {left: -0vw;}
  100% {left: 0vw;}
}

.slider-div{
  background-color: #fce38a;



}
#slider{overflow:hidden;

  margin:0;

  top:12%;
  padding: 0;

  background-color: #fce38a;
}
.slider-div{
  z-index: -1;
  height: 56.25vw;
  padding:0;
  margin:0;
  margin-bottom: -17vw;
}

.img-container {
  z-index: -100;
  
  margin: 0;
  padding:0;
  width:99.9vw;
  height: 56.25vw;
  background-position: top;
  background-size: cover;
  display: inline-block;
}

#slider figure video{float:left;margin:0; object-fit: fill; padding:0;width:99.9vw;}
#slider figure img{float:left;width:100vw;position:relative;}
#slider figure{position:relative;width:600vw;margin:0;left:0;text-align:left;animation:16s slideshow infinite}
.container{
  margin-top: 10%;

  width:80%;
  height:40%;
  margin:10%;
  float:left;
  vertical-align:middle;

}
#note-flexbox-col1 a{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  height:15%;
  width:60%;

  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 10%;
  padding:2%;
  border: 0.2rem solid #fffcca;
  color:#FFF;
  background-color: #537780;
}
#note-flexbox-col1 a:hover{
  background-color:#FFF;
  color: #537780;
}
@media only screen and (max-width: 450px) {
  #info1{
  text-alignment: center;
  }
.flex-container2 .contact{
    width:70%; margin:5% auto;
  }
  .flex-container .info{
    width:70%;
    margin:5% auto;
  }
  .slider-div{

    width: 99.9vw;
    padding:0;
    margin:0;
  }
  #slider figure video{float:left;margin:0; object-fit: fill; padding:0;}

  #slider figure{position:relative;width:600vw;margin:0;left:0;text-align:left;animation:16s slideshow infinite}
  .about-head{

    font-size: 2.5rem;

  }
  .line-for-about{

    border: 0.5rem dotted #fffcca;
    border-top: none;

    margin-top:auto;
    margin-bottom: auto;
    width:10%;
  }
  .text-head{

    font-size:3rem;

  }

  .head img{
    width:12rem;
    height:12rem;


  }
  header{

    font-size: 4rem;

  }
  .about{

    font-size: 2.5rem;


  }

}
